[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
networkx = "*"
scipy = "*"
scikit-learn = "*"
numpy = "*"
keras = "*"
pyedflib = "*"
scikit-image = "*"
statsmodels = "*"
torch = "*"
torch-cluster = "*"
torch-geometric = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"

